<!DOCTYPE html>
<html>
<head>
    <title>管理</title>
    <link rel="icon" href="@Url.Content("~/Content/images/favicon.ico")" type="image/x-icon" />
</head>

<frameset cols="212px,*" border="1" bordercolor="#CCCCCC">
    <frame src="Manage/Left" id="LeftMain">
    <frame src="Manage/Notes" id="RightMain">
</frameset>

</html>

@{  
    Layout = null;  
} 