#pages
{
	left:0px;
	top:0px;
	width:100%;
	background:url(../Images/bmp.png);
	height:auto !important;
	height:1000px;
	min-height:1000px;
	border:0px solid #CCCCCC;
	z-index:1;
	overflow:hidden;
	padding:0px 0px 0px 0px;
}

.post_list
{
	margin:10px auto;
	padding:10px 6px;
	width:600px;
	overflow:hidden;
	height:auto;
	border:1px solid #CCCCCC;
	border-radius:5px;
	text-align:center;
	box-shadow:4px 2px 6px #777;
	font-family:Arial,Tahoma,Verdana;
	background-color:White;
	z-index:2;
}