@font-face {
	font-family: 'icomoon';
	src:url('../fonts/icomoon.eot');
	src:url('../fonts/icomoon.eot?#iefix') format('embedded-opentype'),
		url('../fonts/icomoon.woff') format('woff'),
		url('../fonts/icomoon.ttf') format('truetype'),
		url('../fonts/icomoon.svg#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

/* Use the following CSS code if you want to use data attributes for inserting your icons */
[data-icon]:before {
	font-family: 'icomoon';
	content: attr(data-icon);
	speak: none;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
}

/* Use the following CSS code if you want to have a class per icon */
/*
Instead of a list of all class selectors,
you can use the generic selector below, but it's slower:
[class*="icon-"] {
*/
.icon-happy, .icon-happy-2, .icon-smiley, .icon-smiley-2, .icon-tongue, .icon-tongue-2, .icon-sad, .icon-sad-2, .icon-wink, .icon-wink-2, .icon-grin, .icon-grin-2, .icon-cool, .icon-cool-2, .icon-angry, .icon-angry-2, .icon-evil, .icon-evil-2, .icon-shocked, .icon-shocked-2, .icon-confused, .icon-confused-2, .icon-neutral, .icon-neutral-2, .icon-wondering, .icon-wondering-2, .icon-chrome, .icon-firefox, .icon-opera, .icon-safari, .icon-feed, .icon-IE {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	font-size: 1em;
}
.icon-happy:before {
	content: "\61";
}
.icon-happy-2:before {
	content: "\62";
}
.icon-smiley:before {
	content: "\63";
}
.icon-smiley-2:before {
	content: "\64";
}
.icon-tongue:before {
	content: "\65";
}
.icon-tongue-2:before {
	content: "\66";
}
.icon-sad:before {
	content: "\67";
}
.icon-sad-2:before {
	content: "\68";
}
.icon-wink:before {
	content: "\69";
}
.icon-wink-2:before {
	content: "\6a";
}
.icon-grin:before {
	content: "\6b";
}
.icon-grin-2:before {
	content: "\6c";
}
.icon-cool:before {
	content: "\6d";
}
.icon-cool-2:before {
	content: "\6e";
}
.icon-angry:before {
	content: "\6f";
}
.icon-angry-2:before {
	content: "\70";
}
.icon-evil:before {
	content: "\71";
}
.icon-evil-2:before {
	content: "\72";
}
.icon-shocked:before {
	content: "\73";
}
.icon-shocked-2:before {
	content: "\74";
}
.icon-confused:before {
	content: "\75";
}
.icon-confused-2:before {
	content: "\76";
}
.icon-neutral:before {
	content: "\77";
}
.icon-neutral-2:before {
	content: "\78";
}
.icon-wondering:before {
	content: "\79";
}
.icon-wondering-2:before {
	content: "\7a";
}
.icon-chrome:before {
	content: "\2b";
}
.icon-firefox:before {
	content: "\2d";
}
.icon-opera:before {
	content: "\2a";
}
.icon-safari:before {
	content: "\2f";
}
.icon-feed:before {
	content: "\26";
}
.icon-IE:before {
	content: "\5e";
}
