@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "做梦也很累--错误";
}

@{var msg = ViewData["ErrorMsg"];}
<div style="margin:30px auto; width:80%; height:auto; color:Red; padding:10px auto;">@msg</div>

